.app-fondo {
  min-height: 100vh;
  background: linear-gradient(135deg, #e0eafc, #cfdef3); /* azul claro suave */
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-card {
  max-width: 500px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem; /* equivalente a Bootstrap p-4 */
}

.form-control::placeholder {
  font-style: italic;
}

.tabla-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  overflow-x: auto;
}

