@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow-x: hidden;
}


.app-fondo {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* para efecto elegante */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.formulario-card {
  max-width: 900px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem; /* equivalente a Bootstrap p-4 */
}

.form-control::placeholder {
  font-style: italic;
}

.tabla-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  overflow-x: auto;
}

/* Nuevo estilo solo para el contenedor de la tabla */
/* .table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.table-responsive-scroll table {
  min-width: 800px;  */

/* Para móviles */
/* @media (max-width: 576px) {
  .tabla-card {
    padding: 0.5rem;
    border-radius: 0;
    box-shadow: none;
  }

  .tabla-card h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  .table-responsive-scroll table {
    min-width: 600px; 
  }
} */

/* @media (max-width: 768px) {
  .table {
    font-size: 0.85rem;
  }

  th,
  td {
    white-space: nowrap;
  }
}

.table-responsive {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  white-space: nowrap;
} */


